body{
    background-color: #fdf4e7;
}
.main-container{
    width: 40%;
    margin: 50px auto 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #dbdbdb;
}
h2{
    text-align: center;
    margin: 0;
    font-family: 'Volkhov', serif;
    color: crimson;
    font-weight: bold;
}
.input-option{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr) 80px;
    column-gap: 5px;
}
input{
    padding: 5px 12px;
    font-size: 16px;
    font-family: 'Volkhov', serif;
}
.add-button{
    background-color: crimson;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Volkhov', serif;
}
.display-item .single-list{
    background-color: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(1, 1fr) 30px;
    column-gap: 8px;
    border-radius: 5px;
    margin: 15px 0;
    padding: 3px 12px;
    align-items: center;
    box-shadow: 1px 1px 3px #dbdbdb;
}
.display-item .single-list p{
    text-align: justify;
}
.display-item .single-list img{
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.remaining-item{
    text-align: center;
}
.remaining-item p{
    margin-bottom: 8px;
    color: gray;
    font-style: italic;
    font-family: 'Volkhov', serif;
    font-size: 14px;
}
.clear-button{
    background-color: crimson;
    border: none;
    padding: 6px 15px;
    font-size: 15px;
    border-radius: 3px;
    color: white;
    margin: 0;
    font-family: 'Volkhov', serif;
    cursor: pointer;
}

footer p{
    text-align: center;
    color: gray;
    font-style: italic;
    font-family: 'Volkhov', serif;
    font-size: 14px;
}